<h3>My Lists</h3>

<% @lists.each do |list| %>
    <%= link_to list_path(list), class:'text-decoration-none' do %>
      <div class="card-category">
        <%= list.name %>
      </div>
    <% end %>
<% end %>
